html{
    text-align: center;
    background-color: #f1f4fb;
}
#title{
    font-weight: 200;
    font-size: 42px;
    user-select: none;
    margin: 0px;
    text-align: inherit;
}
#readme{
    font-size: 22px;
    font-weight: 400;
}
#start{
    margin-top: 25px;
}
.msg_c{
    font-size: 16px;
    user-select: none;
}
.btn0{
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 300;
    border-color: #000000;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
.btn0:hover{
    padding-left: 2px;
    border-color: #d0ff9c;
    padding-top: 0px;
    background-color: #d0ff9c;
}
.btn0:focus{
    padding-left: 2px;
    border-color: #d0ff9c;
    padding-top: 0px;
    background-color: #d0ff9c;
    outline: none;
}
.ctdn{
    font-size: 32px;
    font-family: Monospace;
    font-weight: 100;
}
#playing{
    margin-top: 35px;
    font-size: 20px;
}
.p_score{
    font-size: 19.5px;
    user-select: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.selector{
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 300;
    border-color: #000000;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}
.selector:hover{
    padding-left: 2px;
    border-color: #d0ff9c;
    padding-top: 0px;
    background-color: #d0ff9c;
}
.selector:focus{
    padding-left: 2px;
    border-color: #d0ff9c;
    padding-top: 0px;
    background-color: #d0ff9c;
    outline: none;
}